doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      a(href="/auth") Sign out
    else
      a(href="/auth") Sign in
    block content
